* {
    box-sizing: border-box
}

.map{
    width:500px;
    height:700px;
/*    float:left;*/
    margin:5px;
}

.map-box{
    width:700px;
    height:700px;
    float:left;
    padding:5px;
}

h1{clear:both}

.select-input{
    display:none;
}


/*CONTAINER STUFF*/
.group{
    border: 1px solid #aaa;
/*    padding:5px;*/
}


/*DISPLAY STUFF*/

.wrapper{
    padding:1em
}

.content{
    padding-top:39px
}
.home-menu{
    background-color: #aaa !important;
}
.home-menu ul {
    float:right;
    margin-top:5px;
    margin-bottom:5px;
}

.sol-wrapper{clear:both}


.month-wrapper{
    max-width:600px;
    display:inline-table;
}

#new-container-button{
    background-color:#C9E7EE;
    cursor:pointer;
    padding:7px;
    border-radius:5px;
}
#new-container-button:hover{
    opacity:0.5;
}

@media only screen and (min-width:300px){
.close-container{
    position:absolute;
    right:0;
    top:0;
}
}

.control-bar{
    position:relative
}

.route-line{
    vertical-align: top;
}

.route-list{
    max-height:200px;
    overflow:auto
}

.route-list-obj{
    cursor:pointer
}
.route-list-obj:hover{
    background-color:rgba(255,147,6,0.5)
}

.route-node:nth-child(2) .node-num{
    color:#aaa;
}
.route-node{
    display:inline-table;
}

.route-id{
    vertical-align: top;
    display:inline;
}

.node-attrs{
    clear:both;
    display:block;
    font-size:0.8em;
    color:#777
}

.my-div-icon{
    width:20px;
    height:20px;
}

.label{
    background-color:rgba(255,255,255,0.7);
    border-radius:5px;
}

.SupervisionLeg {
    stroke-width: 7px;
    opacity: 0.3;
}

.OtherLegs {
    stroke-width: 2px;
    opacity: 1;
}

.OtherLegs .highlight {
    opacity: 1;
}

.lowlight {
    opacity: 0.1;
}

.leaflet-container {
    background-color: transparent;
}

.run-wrapper h3 {
    margin: 0px;
}

.mod0{
  stroke: #e41a1c;    
}
.mod1{
  stroke: #377eb8;    
}
.mod2{
  stroke: #4daf4a;    
}
.mod3{
  stroke: #984ea3;    
}
.mod4{
  stroke: #ff7f00;    
}
