<!DOCTYPE html>
<html>
<head>
    <title>Vivo</title>
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
    <link rel="stylesheet" type="text/css" href="css/grids-responsive-min.css"/>
    <link rel='stylesheet' type='text/css' href='css/main.css' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
</head>
<body>
    <div class="outer-wrapper"><!--outer wrapper-->
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/vivo">Vivo</a>
            <ul>
                <li id="new-container-button">New Route Group</li>
            </ul>
        </div>
        <div class="content">
            <div class="wrapper group-wrapper"><!--to hold the route group divs-->
            </div>
        </div>

    </div><!--END outer wrapper-->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="js/leaflet-label.js"></script>
    <script src="js/leaflet-omnivore.min.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jsrender.min.js"></script>
    <script src='js/main2.js'></script>
    <script src='js/config.js'></script>
    
    <script id="mainTmpl" type="text/x-jsrender">
        <div class="group">
            <div class="control-bar">
            <select>
                <option>Latest</option>
                <option>Select run</option>    
                <option>Select solution</option>
                <option>Select individual route</option>
            </select>
            <form class="select-input" id="input-1">
                <input value=""></input>
                <button type="submit">submit</button>
            </form>
            <button class="close-container">X</button>
            </div>
            <div class="map-wrapper"></div>
        </div>
    </script>
    <script id="runTmpl" type="text/x-jsrender">
        <div class="run-wrapper" id="run-{{:run_id}}"> 
            <h3>Run {{:run_id}}</h3>
        </div>
    </script>
    <script id="solTmpl" type="text/x-jsrender">
        <div class="sol-wrapper pure-g" id="sol-{{:sol_id}}">
            <div class="pure-u-1 pure-u-md-1-8">
            <h4>Solution {{:sol_id}}</h4>
            </div>
            <div class="pure-u-1 pure-u-md-7-8"></div>
        </div>
    
    </script>
    <script id="monthTmpl" type="text/x-jsrender">
        <div class="month-wrapper" id="sol-{{:sol_id}}-month-{{:month.id}}">
            <h5>Month {{:month.id}}</h5>
            <div class="map" id="map-{{:sol_id}}-{{:month.id}}"></div>
        </div>
    </script>
    <script id="routeListTmpl" type="text/x-jsrender">
            <div class="route-list-obj" data-id={{:id}}>
                <div class="route-line">
                    <p class="route-id">{{:id}}</p>
                        {{for route}}
                            <div class="route-node">
                                <span class="node-num">{{:node}}</span>
                                <span class="node-attrs">
                                    {{if pickup}}<span class="pickup">p</span>{{/if}}
                                    {{if dropoff}}<span class="dropoff">d</span>{{/if}}
                                    {{if med}}<span class="med">m</span>{{/if}}
                                </span>
                            </div>
                        {{/for}}
        
                </div>
            </div>
    
    
    </script>
    
</body>
</html>